
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.bat
obj/
base/
morphy/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.pyc
/django_project/brm/local_settings.py
*.log
.idea/
host.conf
*.rtf
*.zip
*.doc
*.rar
*.pdf
/backup
/static
/media
/env
/env3
touch-to-reload
/files
/django_project/media
.sass-cache/
/django_project/static/CACHE/
/django_project/.sass-cache/
/node_modules/
/django_project/celerybeat-schedule
vk.json
/db
npm-debug.log*
/tmp